@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    padding:0;
    margin:0;
}
.header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.nav-items ul
{
    list-style-type: none;
    display:flex;
    padding-right:10px;
    color:white;
}
.nav-items ul li
{
    padding:12px;
}
.logo
{
    width: 150px;
    margin-left:12px;
}
.card
{
    border: 1px solid grey;
    border-radius: 5px;
    width:200px;
    display: inline-block;
    margin:10px;
    white-space:wrap;
    color:black;
}
.card>img
{
    width:100%;
    height : 8rem;
    object-fit: cover;
}
.card-name
{
    font-size:14px;
    margin:0 12px;
}
.Restaurant-List
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Cuisines
{
    word-wrap: break-word;
    font-size: 12px;
    margin:0 12px;
}
.card-rating
{
    font-size: 12px;
    display:inline-block;
    margin: 0 12px;
    /* margin-top:0; */
}
.log-btn
{
    width:100px;
    display:inline-block;
    color: white;
    background-color: black;
    padding: 12px;
    margin:12px;
    border-radius: 5px;
    border:1px solid grey
}
.shimmer-card
{   
    border: 1px solid #ccc;
    border-radius: 5px;
    width:200px;
    display: inline-block;
    margin:10px;
    background-color: #ccc;
    height: 200px;
}
.no-data-text
{
    margin:40px 0;
    text-align: center;
    font-size: 50px;
}
.links
{
    text-decoration: none;
    color:white;
}
.restaurant-menu
{
    width:1200px;
    margin: 40px auto;
}
.res-container
{
    display: flex;
}
.res-img-container
{
    width:30%;
}
.res-img-container>img
{
    width:100%;
}
.res-text-container
{
    width:70%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}