body
{
    padding:0;
    margin:0;
}
.header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.nav-items ul
{
    list-style-type: none;
    display:flex;
    padding-right:10px;
    color:white;
}
.nav-items ul li
{
    padding:12px;
}
.logo
{
    width: 150px;
    margin-left:12px;
}
.card
{
    border: 2px solid black;
    width:200px;
    display: inline-block;
    padding:10px;
    margin:10px;
    white-space:wrap;
}
.card>img
{
    width:100%;
}
.Restaurant-List
{
    display: flex;
    flex-wrap: wrap;
}
.Cuisines
{
    word-wrap: break-word;
}